<div class="row marg">
  <div class="col-xs-12">
    <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">

      <div class="col-xs-12">
        <div class="form-group">
          <label for="name">Nazwa usługi</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="form-control"
          >
        </div>
      </div>


      <div class="col-xs-12">
        <div class="form-group">
          <label for="description">Opis</label>
          <textarea
            type="text"
            id="description"
            formControlName="description"
            rows="5"
            class="form-control"
          ></textarea>
        </div>
      </div>


      <div class="col-xs-12">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!serviceForm.valid"
        >Zapisz</button>
        <button type="button" class="btn btn-danger" (click)="onCancel()">Anuluj</button>
        <button type="button" class="btn btn-danger" [disabled]="!editMode" (click)="onDelete()">Usuń</button>
      </div>

    </form>
  </div>
</div>
